.theme-personal {
  --brand: #ad4352;
  --nav: #3f756f;
  --accent: #d6aa40;
  background: #fffdfa;
  border-color: #c88f96;
}

.theme-personal .site-masthead {
  background: repeating-linear-gradient(0deg, #fff4f4 0, #fff4f4 23px, #f0dfe1 24px);
  border-bottom: 4px double #bc6974;
}

.theme-personal .site-brand {
  color: #9d3544;
  font-family: "KaiTi", "STKaiti", serif;
}

.theme-personal .lead {
  background: #fff0f1;
  border-color: #bd5c69;
}

.theme-personal .comment-avatar {
  color: #fff;
  background: #bd5c69;
  border-radius: 50%;
}
